<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="MyBudget" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher" android:theme="@style/AppTheme" android:allowBackup="false" android:supportsRtl="true">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
        <!-- Planner's "Send paid bills to MyBudget". Open to any app; nothing is saved without the user's tap. -->
        <activity android:name=".AddExpenseActivity" android:exported="true" android:theme="@style/AppTheme.Overlay" android:excludeFromRecents="true">
            <intent-filter><action android:name="com.mybudget.app.action.ADD_EXPENSE"/><category android:name="android.intent.category.DEFAULT"/></intent-filter>
            <intent-filter><action android:name="com.mybudget.app.action.PAYMENT_UNDONE"/><category android:name="android.intent.category.DEFAULT"/></intent-filter>
        </activity>
        <!-- Automatic backup: a daily job that saves a backup file to the folder the user picked. -->
        <service android:name=".AutoBackup" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false"/>
    </application>
</manifest>
